<app-generic-list [list]="movies">
  <ng-container content>
    <div
      *ngFor="let movie of movies; let index = index"
      class="movie-container"
    >
      <div>
        {{ index }} {{ movie.title | titlecase }}
        <button style="margin-left: 1rem" (click)="remove(index)">
          button
        </button>
      </div>

      <div>
        {{ index }}
        {{ movie.releaseDate | date: "dd-MMMM" | uppercase }}
      </div>

      <div>
        {{ movie.price | currency }}
      </div>
    </div>
  </ng-container>
</app-generic-list>
